{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Editing Post for:
      <a href="{% url 'blogs:topic' topic.id %}">{{ topic }}</a></h1>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'blogs:edit_post' post.id %}" method='post' class='form'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit">Save changes</button>
    {% endbuttons %}

    <input type="hidden" name="next"
        value="{% url 'blogs:topic' topic.id %}" />
  </form>

{% endblock content %}
