{% extends 'meals_plans/base.html' %}

{% block content %}

  <p>Day: {{ day }}</p>

  <p>Meals:</p>
  <p>
    <a href="{% url 'meals_plans:new_meal' day.id %}">Add new meal</a>
  </p>
  <ul>
      {% for meal in meals %}
        <li>
        <p>{{ meal.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ meal.meal|linebreaks }}</p>
        <p>
          <a href="{% url 'meals_plans:edit_meal' meal.id %}">Edit meal</a>
        </p>
        </li>
      {% empty %}
        <li>There are no meals for this day yet.</li>
      {% endfor %}
    </ul>

{% endblock content %}
