{% extends 'meals_plans/base.html' %}

{% block page_header %}
  <h3>{{ day }}</h3>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'meals_plans:new_meal' day.id %}">Add new meal</a>
  </p>

  {% for meal in meals %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ meal.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'meals_plans:edit_meal' meal.id %}">
          edit meal</a></small>
      </h4>
      <div class="card-body">
        {{ meal.meal|linebreaks }}
      </div>
    </div>
  {% empty %}
  {% endfor %}

{% endblock content %}
