{% extends "meals_plans/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Adding New Meal for:
      <a href="{% url 'meals_plans:day' day.id %}">{{ day }}</a></h1>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'meals_plans:new_meal' day.id %}" method='post'
      class='form'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name='submit'>Add meal</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'meals_plans:days' %}" />
  </form>

{% endblock content %}
